*{
    margin: 0;
    padding: 0;
 }
 :root{
    --navbar-height:59px
 }
 #navbar{
 display: flex;
 align-items: center;
 position: absolute;
  top: 0px;
 }
 #logo img{
    margin: 0;
    padding: 0;
    height: 15vh;
    margin-top: 0%;
    mix-blend-mode: color-burn;

 }
 #navbar::before{
  content: "";  
position: absolute; 
height: 100%;
width: 100%;
z-index: -1;

}
 li{
    display: flex;
    gap: 55px;
 }
 ul{
    display: flex;
    gap: 55px;
 }
#navbar ul li a{
    color: rgb(237, 231, 232);
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1.3rem;
    
    
 }
 #navbar ul li a:hover{
    color: black;
    background-color: rgb(250, 246, 246);

 }
 .home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 710px;
  justify-content: center;
  align-items: center;
  
 }
 .home::before{
  content: "";  
position: absolute; 
background:url(background\ image\ 1.jpg) no-repeat center center/cover;
height: 100%;
width: 100%;
z-index: -1;
opacity: 0.89;
 }
 .h-primary{
     font-size:2.8em;
     padding: 12px;
     color: aliceblue;
 }
 .home p{
  color: aliceblue;
  font-size: 1.2em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .btn{
  padding: 6px 20px;
  border: 2px solid white;
  color: aliceblue;
  background-color: brown;
  margin: 17px 17px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
 }
 
 .h1-primary{
 text-align: center;
 font-size: 2.3em;
  
 }
 .h-secondary{
  font-size: 2em;
  padding: 12px;
  
 }
 #services{
  margin: 25px;
  display: flex; 
 }
 
 .box{
  border: 3px solid brown;
  padding: 34px;
  margin: 3px 6px;
  border-radius: 23px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
 }
 .center{
  text-align: center;
 }
 .box img{
  height: 160px;
  margin:auto ;
  display: block;
  mix-blend-mode: color-burn;
  flex-wrap: wrap;
 }
 
.h-primary2{
  text-align: center;
  font-size: 2.3em;
}

 #clients{
flex-wrap: wrap;
}

#clients img{
width: 66px;
padding: 16px;
height: auto;
}

#client-section{ 
position: relative;
}

#client-section::before{
content: "";
position: absolute;
background: url(background\ img3.jpg)no-repeat center center/cover;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
}

#clients{
display: flex;
justify-content: center;
align-items: center;
}

.client-item{
padding: 34px;
}

#clients img{
height:120px;
width: 150px;
mix-blend-mode: color-burn;
}


  
 

 #contact{
  position: relative;
  padding: 9px;
 }
 #contact::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.89;
  background: url(telephone-586266_1280.jpg)no-repeat center center/cover;
  padding: 34px;
  margin: 3px 6px;

 }
 #contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
 }
 #contact-box input{
  width: 100%;
  padding: 0.5em;
  border-radius: 9px;
  font-size: 1.1rem;

 }
 #contact-box form{
  width: 40%;

 }
 #contact-box label{
  font-size: 1.3em;
 }

footer{
  background: black;
  color: aliceblue;
  padding: 9px;
  

}